@page
@model Assignment1.Pages.Projects.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Projects</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Project[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Project[0].Team)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Project[0].Client)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Project) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Team.teamName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Client.Name)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ProjectId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ProjectId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ProjectId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
